/*
参考样式：
https://moonvy.com/blog/post/2022/diffusion-accelerates-diffusion/#%E7%BB%98%E7%94%BB%E8%BE%85%E5%8A%A9%E5%B7%A5%E5%85%B7
代码来源：https://theme-hope.vuejs.press/zh/config/style.html
*/

--accent-100:#F18F01;
--accent-200:#833500;
--text-100:#353535;
--text-200:#5f5f5f;
--bg-100:#F5ECD7;
--bg-200:#ebe2cd;
--bg-300:#c2baa6;

$text-color: (
  light: #5c5c5c,
  dark: #b0aeb7,
);

// content
$bg-color: (
  light: #F5ECD7,
  dark: #023047,
);

$bg-color-secondary: (
  light: #ebe2cd,
  dark: #194058,
);

$bg-color-tertiary: (
  light: #c2baa6,
  dark: #365973,
);

// 边框
$border-color: (
  light: #eaecef,
  dark: #302d28,
);

// shadow
$box-shadow: (
  light: #f0f1f2,
  dark: #282a32,
);

$card-shadow: (
  light: rgb(0 0 0 / 15%),
  dark: rgb(0 0 0 / 30%),
);
